body
{
	font-family: 'Raleway', sans-serif; 

}
#entete
{
	display: flex; 
	margin-left: 40px;
}
#logo
{
	width: 100px; /* largeur du logo dans le header*/
	height: 50px; /* hauteur du logo dans le header*/
}
#menu
{
	display: flex;
	justify-content: space-around;
	font-size: 15px; /* taille du texte*/
	width: 100px; /* largeur du bloc*/
	height: 50px; /* hauteur du bloc*/
	padding: 12px; /* marge interieur du bloc*/
	margin-left: 900px; /* marge extérieur gauche du blox*/
	
	text-align: justify;
}
#menu a:hover /* barre bleu au survol*/
{
	border-top: 2px solid blue;
	padding-top: 17px;
}
#menu a
{
	padding-left: 10px;
	padding-right: 10px; 
	text-decoration: none;
}
section
{
	margin-left: 40px;
}
#titre form
{
	display: flex;
	flex-direction: row;
	height: 36px;
	width: 60px;
	background-color: #F2F2F2;
	border-radius: 10px 0px 0px 10px;

	
}
#titre i
{
	display: flex;
	height:30px;
	width: 35px; 
	padding-top: 3px;
	
	justify-content: center;
	align-items: center;
}
.rechercher
{
	background-color: blue; /* a modifier*/
	border-radius: 0px 10px 10px 0px;
	height: 35px;
	color: white;
	position: relative;
	right: 4px;
	
}
.rechercheville
{
	height: 35px;
	font-weight: bold;
} 
#filtres
{
	display: flex;
	height: 70px;
	width: 1250px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
#filtres i
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
	color: #0065FC

}

.filtre
{
	display: flex;
	margin-top: 28px;
	margin-right: 40px;	
}

.economique
{
	display: flex;
	width: 148px;
	height: 38px;
	border:2px #F2F2F2 solid;
	margin-right: 30px;
	margin-top: 15px;
	padding-right: 15px;
	justify-content: center;
	border-radius: 20px;
	align-items: center;
	-webkit-filter: grayscale(0) blur(0px);
	filter: grayscale(0) blur(0px);	
	-webkit-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.economique i
{
	border-radius: 100px;
	width: 43px;
	height: 43px;
	display: flex;	
	margin-right: 15px;
}
.economique:hover
{
	-webkit-transform: rotate(720deg);
	transform:rotate(720deg);
}
.familial
{
	display: flex;
	width: 111px;
	height: 38px;
	border:2px #F2F2F2 solid;
	margin-right: 30px;
	margin-top: 15px;
	padding-right: 15px;
	justify-content: center;
	border-radius: 20px;
	align-items: center;
	-webkit-filter: grayscale(0) blur(0px);
	filter: grayscale(0) blur(0px);	
	-webkit-transition:all 0.5s ease;
	transition:all 0.5s ease;	
}
.familial i
{
	
	border-radius: 100px;
	width: 43px;
	height: 43px;
	display: flex;
	margin-right: 15px;
}
.familial:hover
{
	-webkit-transform: rotate(720deg);
	transform:rotate(720deg);
}
.romantique
{
	display: flex;
	width: 145px;
	height: 38px;
	border:2px #F2F2F2 solid;
	margin-right: 30px;
	margin-top: 15px;
	padding-right: 15px;
	justify-content: center;
	border-radius: 20px;
	align-items: center;
	-webkit-filter: grayscale(0) blur(0px);
	filter: grayscale(0) blur(0px);	
	-webkit-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.romantique i
{
	border-radius: 100px;
	width: 43px;
	height: 43px;
	display: flex;
	margin-right: 15px;
}
.romantique:hover
{
	-webkit-transform: rotate(720deg);
	transform:rotate(720deg);
}
.animaux
{
	display: flex;
	width: 194px;
	height: 38px;
	border:2px #F2F2F2 solid;
	margin-top: 15px;
	padding-right: 15px;
	justify-content: center;
	border-radius: 20px;
	align-items: center;
	-webkit-filter: grayscale(0) blur(0px);
	filter: grayscale(0) blur(0px);	
	-webkit-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.animaux i
{
	border-radius: 100px;
	width: 43px;
	height: 43px;
	display: flex;
	margin-right: 15px;
}
.animaux:hover
{
	-webkit-transform: rotate(720deg);
	transform:rotate(720deg);
}
.info
{
	display: flex;
	height: 50px;
	width: 900px;
	flex-direction: row;
	margin-bottom: 20px;
	color: grey;
}
.info i
{
	display: flex;
	height: 30px;
	width:30px;
	border-radius: 100%;
	border:2px #F2F2F2 solid;
	color: #0065FC;
	justify-content: center;
	align-items: center;
	margin-top: 7px;
	margin-right: 20px;
}
.hebergements
{
	
	margin-right: 40px;/* marge extérieur droite entre les blocs hebergement et activités */
}
.activites
{
	
	 /* marge extérieur droite entre les blocs activités et s'inscrire */
}
h2
{
	font-size: 25px bold; /* taille et gras du titre "trouvez votre hébergement....."*/
}
#titre p /* couleur du sous titre en gris */
{
	color: grey;
}
#conteneurgeneral
{
	display: flex;
	flex-direction: row;
	
}
#hebergement
{
	background-color: #F2F2F2; 
	width: 60%; /*largeur du conteneur*/
	height:720px; /* hauteur du conteneur*/
	border-radius: 10px;
	display:flex;

	flex-direction: column;
	margin-bottom: 50px;	
}
#hebergement span
{
	font-weight: bold;
}
#hebergement i
{
	color: blue;
}
.titrehebergements
{
	display: flex;
	width: 500px;
	height:40px;
	margin-right: 40px;
	margin-left: 50px;
	padding-top: 50px;
	padding-bottom: 10px;
	font-size: 20px;
	
}
#ensemblebloc
{
	display: flex;
	flex-direction: column;
	padding-top: 5px;
	
}
#ensemblebloc1
{
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
}

.blocaubergelacannebiere
{
	
	width: 200px;
	height: 220px;
	background-color: white;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 20px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	
	flex-direction: column;
}
.aubergeLaCannebiere /* bloc image */
{
	width: 200px;
	height: 100px;
	border-radius: 10px 10px 0px 0px;
	object-fit: cover;
}
.tarifCannebiere
{
	width: 195px;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
	
}
.tarifCannebiere h4
{
	font-size: 15px;
}
.tarifCannebiere p
{
	font-size: 12px;
}
.tarif
{
	font-size: 12px;
}
.blochotelduport
{
	
	width: 200px;
	height: 220px;
	background-color: white;
	border-radius: 10px;
	margin-right: 20px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	
	flex-direction: column;
}
.hotelduPort
{
	width: 200px;
	height: 100px;
	border-radius: 10px 10px 0px 0px;
	object-fit: cover;
}
.tarifPort
{
	width: 195px;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
}
.tarifPort h4
{
	font-size: 15px;
}
.tarifPort p
{
	font-size: 12px;
}
.tarif
{
	font-size: 12px;
}
.blochotellesmouettes
{
	
	width: 200px;
	height: 220px;
	background-color: white;
	border-radius: 10px;
	margin-right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	flex-direction: column;
}
.hotellesMouettes
{
	width: 200px;
	height: 100px;
	border-radius: 10px 10px 0px 0px;
	object-fit: cover;
}
.tariflesmouettes
{
	width: 195px;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
}
.tariflesmouettes h4
{
	font-size: 15px;
}
.tariflesmouettes p
{
	font-size: 12px;
}
.tarif
{
	font-size: 12px;
}
#ensemblebloc2
{
	display: flex;
	flex-direction: row;
}
.blochoteldelamer
{
	
	width: 200px;
	height: 220px;
	background-color: white;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	flex-direction: column;
}
.hoteldelaMer
{
	width: 200px;
	height: 100px;
	border-radius: 10px 10px 0px 0px;
	object-fit: cover;
}
.tariflamer
{
	width: 195px;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
}
.tariflamer h4
{
	font-size: 15px;
}
.tariflamer p
{
	font-size: 12px;
}
.tarif
{
	font-size: 12px;
}
.blocaubergelepanier
{
	
	width: 200px;
	height: 220px;
	background-color: white;
	border-radius: 10px;
	margin-right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	flex-direction: column;
}
.aubergelePanier
{
	width: 200px;
	height: 100px;
	border-radius: 10px 10px 0px 0px;
	object-fit: cover;
}
.tariflepanier
{
	width: 195px;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
}
.tariflepanier h4
{
	font-size: 15px;
}
.tariflepanier p
{
	font-size: 12px;
}
.tarif
{
	font-size: 12px;
}
.blochotelchezamina
{
	
	width: 200px;
	height: 220px;
	background-color: white;
	border-radius: 10px;
	margin-right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	flex-direction: column;
}
.hotelchezAmina
{
	width: 200px;
	height: 100px;
	border-radius: 10px 10px 0px 0px;
	object-fit: cover;
}
.tarifamina
{
	width: 195px;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
}
.tarifamina h4
{
	font-size: 15px;
}
.tarifamina p
{
	font-size: 12px;
}
.tarif
{
	font-size: 12px;
}
.afficheplus
{
	display: flex;
	padding-left: 50px;
	padding-top: 50px;
}

#lespluspopulaires
{
	background-color: #F2F2F2; 
	width: 35%; /*largeur du conteneur*/
	height: 720px; /* hauteur du conteneur*/
	border-radius: 10px;
	flex-direction: row;
	flex-wrap: wrap;	
	margin-left: 50px;
}
#lespluspopulaires span
{
	font-weight: bold;
}

.titrepopulaire
{
	display: flex;
	width: 380px;
	height:40px;
	margin-right: 40px;
	margin-left: 50px;
	padding-top: 50px;
	padding-bottom: 10px;
	font-size: 20px;
	justify-content: space-between;
}

#blochotellesoleildumatin
{
	display: flex;
	width: 350px;
	height: 155px;
	background-color: white;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	flex-direction: row;
}
.hotelLesoleildumatin
{
	
	height: 150px;
	width: 150px;
	border-radius: 10px 0px 0px 10px;
	object-fit: cover;
}
.tariflesoleil
{

	width: 150px;
	height: 150px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
	margin-right: 40px;
	padding-left: 15px;
}
.tariflesoleil i
{
	color: blue;
}
.tariflesoleil h4
{
	font-size: 15px;
}
.tariflesoleil p
{
	font-size: 12px;
}
.tarif
{
	font-size: 12px;
}
#blocaucoeurdeleau
{
	display: flex;
	width: 350px;
	height: 155px;
	background-color: white;
	border-radius: 10px;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 5px;
	flex-direction: row;
}
.auCoeurdeleau
{
	height: 150px;
	width: 150px;
	border-radius: 10px 0px 0px 10px;
	object-fit: cover;
}
.tarifaucoeur
{

	width: 150px;
	height: 150px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
	margin-right: 40px;
	padding-left: 15px;
}
.tarifaucoeur i
{
	color: blue;
}
.tarifaucoeur h4
{
	font-size: 15px;
}
.tarifaucoeur p
{
	font-size: 12px;
}
#blochoteltoutbleuetblanc
{
	display: flex;
	width: 350px;
	height: 155px;
	background-color: white;
	border-radius: 10px;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 5px;
	flex-direction: row;
}
.hoteltoutbleuetBlanc
{
	
	height: 150px;
	width: 150px;
	border-radius: 10px 0px 0px 10px;
	object-fit: cover;
}
.tariftoutbleu
{

	width: 150px;
	height: 150px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
	margin-right: 40px;
	padding-left: 15px;
}
.tariftoutbleu i
{
	color: blue;
}
.tariftoutbleu h4
{
	font-size: 15px;
}
.tariftoutbleu p
{
	font-size: 12px;
}
#activiamarseille
{

	 
	width: 1250px; /*largeur du conteneur*/
	height:600px; /* hauteur du conteneur*/
	border-radius: 10px;
}
.titreactivites
{
	display: flex;
	font-size: 20px;
	font-weight: bold;
	padding-bottom:20px; 
}
#toutactivites
{
	display: flex;
	
	width: 1320px;
	height: 540px;
	flex-direction: row;
}
#blocvieuxport
{
	display: flex;
	width: 300px;
	height: 530px;
	background-color: white;
	border-radius: 33px;	
	flex-direction: column;
	border:3px #F2F2F2 solid;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin-left: 5px;
}
.vieuxPort
{
	height: 480px;
	width: 300px;
	border-radius: 30px 30px 0px 0px;
	object-fit: cover;
}
.nomvieuxport
{
	width: 280px;
	height: 40px;
	border-radius: 0px 0px 10px 10px;
	padding-left: 20px;
	padding-bottom: 20px;
}
#bloc1
{
	display: flex;
	width: 305px;
	height: 535px;
	background-color: white;
	flex-direction: column;
	margin-left: 30px;
}
#blocfortdepomegues
{
	width: 300px;
	height: 290px;
	border:3px #F2F2F2 solid;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin-bottom: 10px;
	border-radius: 33px;
}
.fortdePomegues
{
	height: 230px;
	width: 300px;
	border-radius: 30px 30px 0px 0px;
	object-fit: cover;
}
.nomfortdepomegues
{
	width: 300px;
	height: 100px;
	border-radius: 0px 0px 10px 10px;
	padding-left: 20px;
	
	
}
#blociledufrioul
{
	width: 300px;
	height: 200px;
	border:3px #F2F2F2 solid;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin-top: 25px;
	margin-bottom: 15px;
	border-radius: 33px;
}

.ileduFrioul
{
	height: 150px;
	width: 300px;
	border-radius: 30px 30px 0px 0px;
	object-fit: cover;
}
.nomiledufrioul
{
	width: 300px;
	height: 80px;
	border-radius: 0px 0px 10px 10px;
	padding-left: 20px;
	padding-bottom: 20px;
}
#blocparcnationaldescalanques
{
	display: flex;
	width: 300px;
	height: 530px;
	background-color: white;
	border-radius: 33px;	
	flex-direction: column;
	border:3px #F2F2F2 solid;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin-left: 30px;
}
.parcCalanques
{
	height: 480px;
	width: 300px;
	border-radius: 30px 30px 0px 0px;
	object-fit: cover;
}
.nomcalanques
{
	width: 280px;
	height: 40px;
	border-radius: 0px 0px 30px 30px;
	padding-left: 20px;
	padding-bottom: 20px;
}
#bloc2
{
	display: flex;
	width: 305px;
	height: 535px;
	background-color: white;
	flex-direction: column;
	margin-left: 30px;
}
#blocnotredame
{
	width: 300px;
	height: 225px;
	border:3px #F2F2F2 solid;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin-bottom: 10px;
	border-radius: 33px;
}
.notreDame
{
	height: 170px;
	width: 300px;
	border-radius: 30px 30px 0px 0px;
	object-fit: cover;
}
.nomnotredame
{
	width: 300px;
	height: 100px;
	border-radius: 0px 0px 10px 10px;
	padding-left: 20px;
	
	
}
#blocparclongchamp
{
	width: 300px;
	height: 265px;
	border:3px #F2F2F2 solid;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin-top: 25px;
	margin-bottom: 15px;
	border-radius: 33px;
}

.parcLongchamp					
{
	height: 210px;
	width: 300px;
	border-radius: 30px 30px 0px 0px;
	object-fit: cover;
}
.nomparclongchamp
{
	width: 300px;
	height: 100px;
	border-radius: 0px 0px 10px 10px;
	padding-left: 20px;
	padding-bottom: 20px;
}
section a /*pour retirer la souligne et laisser en noir les parties cliquable */
{
	text-decoration: none;
	color:black;
}
#pied 
{
	background-color: #F2F2F2;
	width:1350px;
	height: 250px;
	display: flex;
	flex-direction: row;
	padding-left: 30px;
	padding-top: 30px;
	margin-top: 50px;
	
}
.apropos
{
	display: flex;
	flex-direction: column;
	
}
.noshebergements
{
	display: flex;
	flex-direction: column;
	margin-left: 250px;
}
.assistance
{
	display: flex;
	flex-direction: column;
	margin-left: 250px;
}