body
{
	font-family: 'Raleway', sans-serif; 

}
#entete
{
	display: flex; 
	margin-left: 40px;
}
#logo
{
	width: 100px; /* largeur du logo dans le header*/
	height: 50px; /* hauteur du logo dans le header*/
}
#menu
{
	display: flex;
	justify-content: space-around;
	font-size: 15px; /* taille du texte*/
	width: 100px; /* largeur du bloc*/
	height: 50px; /* hauteur du bloc*/
	padding: 12px; /* marge interieur du bloc*/
	margin-left: 900px; /* marge extérieur gauche du blox*/
	
	text-align: justify;
}
#menu a:hover /* barre bleu au survol*/
{
	border-top: 2px solid blue;
	padding-top: 17px;
}
#menu a
{
	padding-left: 10px;
	padding-right: 10px; 
	text-decoration: none;
}
section
{
	margin-left: 40px;
}
#titre label
{
	display: flex;
	flex-direction: column;
	height: 30px;
	width: 50px;
	background-color: grey;
	
}
.rechercher
{
	background-color: blue; /* a modifier*/
	border-radius: 0px 10px 10px 0px;
	height: 30px;
	color: white;
	position: relative;
	right: 4px;
	
}
.rechercheville
{
	height: 30px;
} 
.icones
{
	display: flex;
	margin-left: 40px;
	justify-content: space-around;
}

.hebergements
{
	
	margin-right: 40px;/* marge extérieur droite entre les blocs hebergement et activités */
}
.activites
{
	
	margin-right: 40px; /* marge extérieur droite entre les blocs activités et s'inscrire */
}
h2
{
	font-size: 25px bold; /* taille et gras du titre "trouvez votre hébergement....."*/
}
#titre p /* couleur du sous titre en gris */
{
	color: grey;
}
#conteneurgeneral
{
	display: flex;
	flex-direction: row;
	
}
#hebergement
{
	background-color: #F2F2F2; 
	width: 60%; /*largeur du conteneur*/
	height:750px; /* hauteur du conteneur*/
	border-radius: 10px;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 50px;	
}
#hebergement span
{
	font-weight: bold;
}
#hebergement i
{
	color: blue;
}
.titrehebergements
{
	display: flex;
	
	width: 900px;
	height:40px;
	margin-right: 40px;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom:0px;
	padding-top: 0px;
	font-size: 20px;
	
}
#blocelement1
{
	
	width: 200px;
	height: 220px;
	background-color: white;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	flex-direction: column;
}
.element1 /* bloc image */
{
	width: 200px;
	height: 100px;
	border-radius: 10px 10px 0px 0px;
}
.element1-1
{
	width: 195px;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
}
.element1-1 h4
{
	font-size: 15px;
}
.element1-1 p
{
	font-size: 12px;
}
.tarif
{
	font-size: 12px;
}
#blocelement2
{
	
	width: 200px;
	height: 220px;
	background-color: white;
	border-radius: 10px;
	margin-right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	flex-direction: column;
}
.element2
{
	width: 200px;
	height: 100px;
	border-radius: 10px 10px 0px 0px;
}
.element2-1
{
	width: 195px;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
}
.element2-1 h4
{
	font-size: 15px;
}
.element2-1 p
{
	font-size: 12px;
}
.tarif
{
	font-size: 12px;
}
#blocelement3
{
	
	width: 200px;
	height: 220px;
	background-color: white;
	border-radius: 10px;
	margin-right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	flex-direction: column;
}
.element3
{
	width: 200px;
	height: 100px;
	border-radius: 10px 10px 0px 0px;
}
.element3-1
{
	width: 195px;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
}
.element3-1 h4
{
	font-size: 15px;
}
.element3-1 p
{
	font-size: 12px;
}
.tarif
{
	font-size: 12px;
}
#blocelement4
{
	
	width: 200px;
	height: 220px;
	background-color: white;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	flex-direction: column;
}
.element4
{
	width: 200px;
	height: 100px;
	border-radius: 10px 10px 0px 0px;
}
.element4-1
{
	width: 195px;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
}
.element4-1 h4
{
	font-size: 15px;
}
.element4-1 p
{
	font-size: 12px;
}
.tarif
{
	font-size: 12px;
}
#blocelement5
{
	
	width: 200px;
	height: 220px;
	background-color: white;
	border-radius: 10px;
	margin-right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	flex-direction: column;
}
.element5
{
	width: 200px;
	height: 100px;
	border-radius: 10px 10px 0px 0px;
}
.element5-1
{
	width: 195px;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
}
.element5-1 h4
{
	font-size: 15px;
}
.element5-1 p
{
	font-size: 12px;
}
.tarif
{
	font-size: 12px;
}
#blocelement6
{
	
	width: 200px;
	height: 220px;
	background-color: white;
	border-radius: 10px;
	margin-right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	flex-direction: column;
}
.element6
{
	width: 200px;
	height: 100px;
	border-radius: 10px 10px 0px 0px;
}
.element6-1
{
	width: 195px;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
}
.element6-1 h4
{
	font-size: 15px;
}
.element6-1 p
{
	font-size: 12px;
}
.tarif
{
	font-size: 12px;
}

#lespluspopulaires
{
	background-color: #F2F2F2; 
	width: 35%; /*largeur du conteneur*/
	height: 750px; /* hauteur du conteneur*/
	border-radius: 10px;
	flex-direction: row;
	flex-wrap: wrap;	
	margin-left: 50px;
}
#lespluspopulaires span
{
	font-weight: bold;
}
#lespluspopulaires i
{
	color: blue;
}
.titrepopulaire
{
	
	width: 380px;
	height:40px;
	margin-right: 40px;
	margin-left: 50px;
	margin-top: 5px;
	margin-bottom:0px;
	padding-top: 20px;
	font-size: 20px;
	
}
#blocelement7
{
	display: flex;
	width: 350px;
	height: 155px;
	background-color: white;
	border-radius: 10px;
	margin-top: 60px;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	flex-direction: row;
}
.element7
{
	
	height: 150px;
	width: 150px;
	border-radius: 10px 0px 0px 10px;
}
.element7-1
{

	width: 150px;
	height: 150px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
	margin-right: 40px;
	padding-left: 15px;
}
.element7-1 h4
{
	font-size: 15px;
}
.element7-1 p
{
	font-size: 12px;
}
.tarif
{
	font-size: 12px;
}
#blocelement8
{
	display: flex;
	width: 350px;
	height: 155px;
	background-color: white;
	border-radius: 10px;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 5px;
	flex-direction: row;
}
.element8
{
	
	height: 150px;
	width: 150px;
	border-radius: 10px 0px 0px 10px;
}
.element8-1
{

	width: 150px;
	height: 150px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
	margin-right: 40px;
	padding-left: 15px;
}
.element8-1 h4
{
	font-size: 15px;
}
.element8-1 p
{
	font-size: 12px;
}
#blocelement9
{
	display: flex;
	width: 350px;
	height: 155px;
	background-color: white;
	border-radius: 10px;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 5px;
	flex-direction: row;
}
.element9
{
	
	height: 150px;
	width: 150px;
	border-radius: 10px 0px 0px 10px;
}
.element9-1
{

	width: 150px;
	height: 150px;
	border-radius: 10px;
	background-color: white;
	margin-left: 10px;
	margin-right: 40px;
	padding-left: 15px;
}
.element9-1 h4
{
	font-size: 15px;
}
.element9-1 p
{
	font-size: 12px;
}
#activiamarseille
{

	 
	width: 1250px; /*largeur du conteneur*/
	height:600px; /* hauteur du conteneur*/
	border-radius: 10px;
}
#toutactivites
{
	display: flex;
	
	width: 1320px;
	height: 540px;
	flex-direction: row;
	
	
}
#blocelement10
{
	display: flex;
	width: 300px;
	height: 530px;
	background-color: white;
	border-radius: 30px 30px 30px 30px;	
	flex-direction: column;
	border:3px #F2F2F2 solid;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin-left: 5px;
}
.element10
{
	height: 480px;
	width: 300px;
	border-radius: 30px 30px 0px 0px;
}
.element10-1
{
	width: 280px;
	height: 40px;
	border-radius: 0px 0px 10px 10px;
	padding-left: 20px;
	padding-bottom: 20px;
}
#blocelement11et12
{
	display: flex;
	width: 305px;
	height: 535px;
	background-color: white;
	flex-direction: column;
	border-radius: 30px 30px 30px 30px;
	
	margin-left: 30px;
}
#blocelement11
{
	width: 300px;
	height: 255px;
	border:3px #F2F2F2 solid;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin-bottom: 10px;
	border-radius: 30px 30px 30px 30px;
}
.element11
{
	height: 200px;
	width: 300px;
	border-radius: 30px 30px 0px 0px;
}
.element11-1
{
	width: 300px;
	height: 100px;
	border-radius: 0px 0px 10px 10px;
	padding-left: 20px;
	
	
}
#blocelement12
{
	width: 300px;
	height: 235px;
	border:3px #F2F2F2 solid;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin-top: 25px;
	margin-bottom: 15px;
	border-radius: 30px 30px 30px 30px;
}

.element12
{
	height: 180px;
	width: 300px;
	border-radius: 30px 30px 0px 0px;
}
.element12-1
{
	width: 300px;
	height: 100px;
	border-radius: 0px 0px 10px 10px;
	padding-left: 20px;
	padding-bottom: 20px;
}
#blocelement13
{
	display: flex;
	width: 300px;
	height: 530px;
	background-color: white;
	border-radius: 30px 30px 30px 30px;	
	flex-direction: column;
	border:3px #F2F2F2 solid;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin-left: 30px;
}
.element13
{
	height: 480px;
	width: 300px;
	border-radius: 30px 30px 0px 0px;
}
.element13-1
{
	width: 280px;
	height: 40px;
	border-radius: 0px 0px 30px 30px;
	padding-left: 20px;
	padding-bottom: 20px;
}
#blocelement14et15
{
	display: flex;
	width: 305px;
	height: 535px;
	background-color: white;
	flex-direction: column;
	border-radius: 30px 30px 30px 30px;
	
	margin-left: 30px;
}
#blocelement14
{
	width: 300px;
	height: 255px;
	border:3px #F2F2F2 solid;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin-bottom: 10px;
	border-radius: 30px 30px 30px 30px;
}
.element14
{
	height: 200px;
	width: 300px;
	border-radius: 30px 30px 0px 0px;
}
.element14-1
{
	width: 300px;
	height: 100px;
	border-radius: 0px 0px 10px 10px;
	padding-left: 20px;
	
	
}
#blocelement15
{
	width: 300px;
	height: 235px;
	border:3px #F2F2F2 solid;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin-top: 25px;
	margin-bottom: 15px;
	border-radius: 30px 30px 30px 30px;
}

.element15
{
	height: 180px;
	width: 300px;
	border-radius: 30px 30px 0px 0px;
}
.element15-1
{
	width: 300px;
	height: 100px;
	border-radius: 0px 0px 10px 10px;
	padding-left: 20px;
	padding-bottom: 20px;
}
#pied 
{
	background-color: #F2F2F2;
	width:1250px;
	height: 250px;
	display: flex;
	flex-direction: row;
	padding-left: 30px;
	padding-top: 30px;
	
	
}
.apropos
{
	display: flex;
	flex-direction: column;
	
}
.noshebergements
{
	display: flex;
	flex-direction: column;
	margin-left: 250px;
}
.assistance
{
	display: flex;
	flex-direction: column;
	margin-left: 250px;
}